<div class="card">
    <div class="card-header">
      <h1 class="card-title">Liste des articles</h1>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div >
        <button class="btn btn-primary" (click)="openDialogCreateArticle()" value="">Nouvel article</button>
      </div>
      <div class="col-md-12">
      <table class="mat-elevation-z8" mat-table [dataSource]="articles">
        <ng-container matColumnDef="idArticle">
          <mat-header-cell *matHeaderCellDef> id article </mat-header-cell>
          <mat-cell *matCellDef="let article"> {{article.idArticle}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="libelleArticle">
          <th mat-header-cell *matHeaderCellDef> Libellé article </th>
          <td mat-cell *matCellDef="let article"> {{article.libelleArticle}} </td>
        </ng-container>

        <ng-container matColumnDef="codeArticle">
          <th mat-header-cell *matHeaderCellDef> code article </th>
          <td mat-cell *matCellDef="let article"> {{article.codeArticle}} </td>
        </ng-container>

        <ng-container matColumnDef="sousFamille">
          <th mat-header-cell *matHeaderCellDef> Sous-famille </th>
          <td mat-cell *matCellDef="let article"> {{article.sousFamille? article.sousFamille.libelleSousFamille: ""}} </td>
        </ng-container>

        <ng-container matColumnDef="cmup">
          <th mat-header-cell *matHeaderCellDef> CMUP </th>
          <td mat-cell *matCellDef="let article"> {{ article.cmup  }} </td>
        </ng-container>

        <ng-container matColumnDef="quantiteStock">
          <th mat-header-cell *matHeaderCellDef> Quantité en stock </th>
          <td mat-cell *matCellDef="let article"> {{ article.quantiteStock  }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row (click)="openDialogUpdateArticle(myRowData)" *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>

</div>