<div class="card">
    <div class="card-header">
      <h3 class="card-title">Liste des articles</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div >
        <button class="btn btn-primary" (click)="openDialogCreateArticle()" value="">Ajouter un article</button>
      </div>
      <div class="col-md-12">
      <table class="table table-bordered" mat-table [dataSource]="articles">
        <ng-container matColumnDef="idArticle">
          <th mat-header-cell *matHeaderCellDef> id article </th>
          <td mat-cell *matCellDef="let article"> {{article.idArticle}} </td>
        </ng-container>

        <ng-container matColumnDef="libelleArticle">
          <th mat-header-cell *matHeaderCellDef> Libellé article </th>
          <td mat-cell *matCellDef="let article"> {{article.libelleArticle}} </td>
        </ng-container>

        <ng-container matColumnDef="codeArticle">
          <th mat-header-cell *matHeaderCellDef> code article </th>
          <td mat-cell *matCellDef="let article"> {{article.codeArticle}} </td>
        </ng-container>

        <ng-container matColumnDef="sousFamille">
          <th mat-header-cell *matHeaderCellDef> code article </th>
          <td mat-cell *matCellDef="let article"> {{article.sousFamille.libelleSousFamille}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row (click)="openDialogUpdateArticle(myRowData)" *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>

</div>