<!-- <div class="card card-primary"> -->
    <div mat-dialog-title >
      <h3 >Détails Famille</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    
    <div mat-dialog-content>
      <form #familleForm="ngForm">
        <div class="form-group">
          <label for="libelleFamille">Libellé famille</label>
          <input type="text" class="form-control" name="libelleFamille"  placeholder="libellé famille" [(ngModel)]="famille.libelleFamille" >
        </div>
        <div class="form-group">
          <label for="codeFamille">Code famille</label>
          <input type="text" class="form-control" name="codeFamille" placeholder="Code famille" [(ngModel)]="famille.codeFamille">
        </div>
      </form>
    </div>
      <!-- /.card-body -->

      <div mat-dialog-actions>
        <button type="submit" class="btn btn-primary" (click)="updateFamille()" *ngIf="idFamille!=-1">Mettre à jour</button>
        <button type="submit" class="btn btn-primary" (click)="createFamille()" *ngIf="idFamille==-1">Enregistrer la famille</button>
        <button type="submit" class="btn btn-danger" mat-dialog-close >Annuler</button>
      </div>
    
  <!-- </div> -->