<p>sousfamille-list works!</p>
<div class="card">
    <div class="card-header">
      <h3 class="card-title">Liste des sous-familles</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <div >
        <button class="btn btn-primary" (click)="openDialogCreateSousFamille()" value="">Ajouter une sous famille</button>
      </div>
      <div class="col-md-12">
      <table mat-table [dataSource]="sousFamilles">
        <ng-container matColumnDef="libelleSousFamille">
          <th mat-header-cell *matHeaderCellDef> Libellé Sous-famille </th>
          <td mat-cell *matCellDef="let sousFamille"> {{sousFamille.libelleSousFamille}} </td>
        </ng-container>

        <ng-container matColumnDef="codeSousFamille">
          <th mat-header-cell *matHeaderCellDef> code sous-famille </th>
          <td mat-cell *matCellDef="let sousFamille"> {{sousFamille.codeSousFamille}} </td>
        </ng-container>
        
        <ng-container matColumnDef="famille">
          <th mat-header-cell *matHeaderCellDef> code sous-famille </th>
          <td mat-cell *matCellDef="let sousFamille"> {{sousFamille.famille.libelleFamille}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row (click)="openDialogUpdateSousFamille(myRowData)" *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>
</div>
