  <h3 mat-dialog-title >Détails Sous famille</h3>

  <form [formGroup] ="formSousFamille" *ngIf="formSousFamille">
    <div mat-dialog-content>
      <div class="form-group">
        <label for="libelleSousFamille">Libellé sous famille</label>
        <input type="text" class="form-control" name="libelleSousFamille" formControlName="libelleSousFamille" placeholder="libellé sous famille" >
        <div *ngIf="!formSousFamille.valid" class="invalid-feedback">
          <span> Renseignez le champ svp</span>
        </div>
      </div>
      <div class="form-group">
        <label for="codeSousFamille">Code sous famille</label>
        <input type="text" class="form-control" name="codeSousFamille" formControlName="codeSousFamille" placeholder="Code sous famille">
      </div>
      <div class="form-group">
        <label for="famille">Famille</label>
        <mat-select class="form-control" name="famille" formControlName="famille" placeholder="Famille" >
          <mat-option *ngFor="let famille of familles" [value]="famille"> {{ famille.libelleFamille }} </mat-option>
        </mat-select>
      </div>
    </div>

    <div mat-dialog-actions>
      <button type="submit" class="btn btn-primary" (click)="updateSousFamille()" *ngIf="idSousFamille!=-1">Mettre à jour</button>
      <button type="submit" class="btn btn-primary" (click)="createSousFamille()" *ngIf="idSousFamille==-1">Enregistrer la sous-famille</button>
      <button type="submit" class="btn btn-danger" mat-dialog-close >Retour</button>
    </div>
</form>
    