<div class="card">
  <div class="card-header">
    <h3 class="card-title">Liste des demandes</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="button-row">
      
      <div class="row">
        <div class="col-lg-9" ></div>
        <div class="col-lg-3">
            <div class="col-lg-4">
              <button mat-button class="btn btn-primary" (click)="openDialogCreateDemande()" value="">Enregistrer une demande</button>
            </div>
        </div>
      </div>
    </div>

    <br/>
    <div class="col-md-12">
      <table class="mat-elevation-z8" mat-table [dataSource]="demandes">
        <ng-container matColumnDef="numRef">
          <th mat-header-cell *matHeaderCellDef> N° Ref </th>
          <td mat-cell *matCellDef="let demande"> {{demande.numRef}} </td>
        </ng-container>

        <ng-container matColumnDef="estimation">
          <th mat-header-cell *matHeaderCellDef> estimation </th>
          <td mat-cell *matCellDef="let demande"> {{demande.estimation}} </td>
        </ng-container>
        
        <ng-container matColumnDef="observation">
          <th mat-header-cell *matHeaderCellDef> observation </th>
          <td mat-cell *matCellDef="let demande"> {{demande.observation}} </td>
        </ng-container>

        <ng-container matColumnDef="dateDemande">
            <th mat-header-cell *matHeaderCellDef> dateDemande </th>
            <td mat-cell *matCellDef="let demande"> {{demande.dateDemande}} </td>
        </ng-container>
  
        <ng-container matColumnDef="demandeur">
            <th mat-header-cell *matHeaderCellDef> demandeur </th>
            <td mat-cell *matCellDef="let demande"> {{demande.demandeur}} </td>
        </ng-container>
          
        <ng-container matColumnDef="statutDemande">
            <th mat-header-cell *matHeaderCellDef> statutDemande </th>
            <td mat-cell *matCellDef="let demande"> {{demande.statutDemande}} </td>
        </ng-container>

        <ng-container matColumnDef="urgent">
            <th mat-header-cell *matHeaderCellDef> urgent </th>
            <td mat-cell *matCellDef="let demande"> {{demande.urgent}} </td>
          </ng-container>
  
          <ng-container matColumnDef="justifUrgence">
            <th mat-header-cell *matHeaderCellDef> justifUrgence </th>
            <td mat-cell *matCellDef="let demande"> {{demande.justifUrgence}} </td>
          </ng-container>
          
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let demande"> 
              <div class="row button-row">
                <div class="button-container">
                  <button (click)="openDialogUpdateDemande(demande.idDemande)" mat-mini-fab color="primary" aria-label="Bouton 1 Modifier">
                    <mat-icon fab fa-pencil>edit</mat-icon>
                  </button>
                </div>
                <div class="button-container">
                  <button (click)="openDialogUpdateDemande(demande.idDemande)" mat-mini-fab color="primary" aria-label="Bouton 1 Modifier">
                    <mat-icon fab fa-pencil>check_circle_outline</mat-icon>
                  </button>
                </div>
                <div class="button-container">
                  <button (click)="openDialogUpdateDemande(demande.idDemande)" mat-mini-fab color="primary" aria-label="Bouton 1 Modifier">
                    <mat-icon fab fa-pencil>edit</mat-icon>
                  </button>
                </div>
              </div>  
            </td>
          </ng-container>

        <tr class="thead-light" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr class="tbody" mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
      </table>
    </div>
  </div>

</div>

<!-- <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script> -->