
      <h1 mat-dialog-title >Détails article</h1>
    <!-- /.card-header -->
    <!-- form start -->
    <mat-dialog-content>
    <form [formGroup]="formArticle">
        <div class="form-group">
          <label for="libelleArticle">Libellé article</label>
          <input mat-input type="text" class="form-control" name="libelleArticle" formControlName="libelleArticle" placeholder="libellé article" >
        </div>
        <div class="form-group">
          <label for="codeArticle">Code article</label>
          <input type="text" class="form-control" name="codeArticle" formControlName="codeArticle" placeholder="Code article">
        </div>
        <div class="form-group">
          <label for="sousFamille">Sous famille</label>
          <mat-select class="form-control" name="sousFamille" formControlName="sousFamille" placeholder="Sous famille">
            <mat-option *ngFor="let sousFamille of sousFamilles" [value]="sousFamille"> {{ sousFamille.libelleSousFamille }} </mat-option>
          </mat-select>
        </div>
        
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="submit" class="btn btn-primary" (click)="updateArticle()" *ngIf="idArticle!=-1">Mettre à jour</button>
        <button type="submit" class="btn btn-primary" (click)="createArticle()" *ngIf="idArticle==-1">Enregistrer l'article</button>
        <button type="submit" class="btn btn-danger" mat-dialog-close >Retour</button>
  </mat-dialog-actions>
