<div class="card">
  <div class="card-header">
    <h1 class="card-title">{{ titre }}</h1>
  </div>
  <!-- /.card-header -->
  <div class="card-body">
    <div class="button-row">
      
      <div class="row">
        <div class="col-lg-9" >
        </div>
        <div class="col-lg-3">
          
            <div class="col-lg-4">
              <button mat-button class="btn btn-primary" (click)="goToCreateDemande(1)" value="">Enregistrer une demande Economat</button>
              <!-- <button mat-button class="btn btn-primary" (click)="goToCreateDemande(2)" value="">Enregistrer une demande Moyen Généraux</button> -->
            </div>
        </div>
      </div>
    </div>
    <br>
    <div class="button-row">
      
      <div class="row">
        <div class="col-lg-4" >
          <div>
            <!-- <label for="article">Direction</label> -->
            <mat-select class="form-control" name="direction" id="direction" placeholder="Direction" [(ngModel)]="direction">
              <mat-option *ngFor="let direction of directions" [value]="direction"> {{ direction.libelleDirection }}</mat-option>
              <mat-option  [value]="{}" > Toutes directions</mat-option>
            </mat-select>
            </div>
        </div>
        <div class="col-lg-4" >
          <div>
            <!-- <label for="article">Direction</label> -->
            <mat-select class="form-control" name="statut" id="statut" placeholder="Statut" [(ngModel)]="statut">
              <mat-option *ngFor="let statut of status" [value]="statut"> {{ statut.libelleStatut }}</mat-option>
              <mat-option  [value]="{}" selected> Tous statuts</mat-option>
            </mat-select>
            </div>
        </div>
        <div class="col-lg-4">
          <button mat-button class="btn btn-primary" (click)="getDemandesByStatutEtDirection()"><mat-icon>search</mat-icon></button>
          
          <!-- <button mat-button class="btn btn-primary" (click)="goToCreateDemande(2)" value="">Enregistrer une demande Moyen Généraux</button> -->
        </div>
        <div class="col-lg-3">
        </div>
      </div>
    </div>

    <br/>
    <div class="col-md-12">

      
      <table class="mat-elevation-z8" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="numRef">
          <th mat-header-cell *matHeaderCellDef> N° Ref </th>
          <td mat-cell *matCellDef="let demande"> {{demande.numRef}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="estimation">
          <th mat-header-cell *matHeaderCellDef> Estimation </th>
          <td mat-cell *matCellDef="let demande"> {{demande.estimation}} </td>
        </ng-container> -->
        
        <ng-container matColumnDef="observation">
          <th mat-header-cell *matHeaderCellDef> Observation </th>
          <td mat-cell *matCellDef="let demande"> {{demande.observation}} </td>
        </ng-container>

        <ng-container matColumnDef="dateDemande">
            <th mat-header-cell *matHeaderCellDef> Date de la demande </th>
            <td mat-cell *matCellDef="let demande"> {{ demande.dateDemande | date:'dd-MM-yyyy HH:mm' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="demandeur">
            <th mat-header-cell *matHeaderCellDef> Demandeur </th>
            <td mat-cell *matCellDef="let demande"> {{demande.demandeur}} </td>
        </ng-container>
        
        <ng-container matColumnDef="directionId">
            <th mat-header-cell *matHeaderCellDef> Direction </th>
            <td mat-cell *matCellDef="let demande"> {{demande.directionId?.libelleDirection}} </td>
        </ng-container>
          
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Statut </th>
            <td mat-cell *matCellDef="let demande"> {{demande.status.libelleStatut}} </td>
        </ng-container>

        <ng-container matColumnDef="urgent">
            <th mat-header-cell *matHeaderCellDef> Urgent ?</th>
            <td mat-cell *matCellDef="let demande"> {{demande.urgent ? "Oui" : "Non"}} </td>
          </ng-container>
  
          <!-- <ng-container matColumnDef="justifUrgence">
            <th mat-header-cell *matHeaderCellDef> Justificatif de l'urgence </th>
            <td mat-cell *matCellDef="let demande"> {{demande.justifUrgence}} </td>
          </ng-container> -->
          
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let demande"> 
              <div class="row button-row">
                <div class="button-container">
                  <button (click)="goToUpdateDemande(demande)" mat-mini-fab color="primary" aria-label="Bouton 1 Modifier">
                    <mat-icon fab fa-pencil>edit</mat-icon>
                  </button>
                </div>
                <!-- <div class="button-container">
                  <button (click)="openDialogUpdateDemande(demande.idDemande)" mat-mini-fab color="primary" aria-label="Bouton 1 Modifier">
                    <mat-icon fab fa-pencil>check_circle_outline</mat-icon>
                  </button>
                </div> -->
                <!-- <div class="button-container">
                  <button (click)="openDialogUpdateDemande(demande.idDemande)" mat-mini-fab color="primary" aria-label="Bouton 1 Modifier">
                    <mat-icon fab fa-pencil>edit</mat-icon>
                  </button>
                </div> -->
              </div>  
            </td>
          </ng-container>

        <tr class="thead-light" mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr class="tbody" mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4"> Aucune données</td>
      </tr>
      </table>
    </div>
  </div>

</div>

<!-- <script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script> -->