<p>list-demande-direction works!</p>
{{demandesToShow }}
<!-- {{demandes}} -->
<!-- {{directions }} -->
<table class="mat-elevation-z8" mat-table [dataSource]="demandesToShow">
        

    <ng-container matColumnDef="direction">
      <th mat-header-cell *matHeaderCellDef>Direction</th>
      <td mat-cell *matCellDef="let ligne"> {{ligne.direction}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre de demandes </th>
      <td mat-cell *matCellDef="let ligne"> {{ligne.nombre}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="colonnes"></tr>
    <tr mat-row  *matRowDef="let myRowData; columns: colonnes"></tr>
  </table>